.shopping-cart {
    margin: 0;
    border: 0;
    background-color: #E6EAED;
    .cart-header{
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .cart-details{
       width: 60%; 
       margin: 0 auto;
    }

}

