@import '../../../../global';

$color-border: #eee;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';

img {
    width: 100%;
    height: 200px;
}
.column-labels{
    margin-bottom: 20px;
    padding-top: 10px;
    div {
        @include breakpoint(mobile){
            display: none;
        }
        @include breakpoint(desktop){
            display: inline;
        }
    }
    
}
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;
}

.product-details {
    margin-bottom: 100px;
    text-transform: uppercase;
}

.product-title {
    margin-right: 20px;
    font-family: $font-bold;
    font-weight: bold;
}
.product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}
.product-price {
    font-style: italic;
}


.shopping-card{
    background: white;
}
.product-quantity {
    clear:both;
}

.product-line-price{
    text-align: right;
}

.product-removal{
    text-align: right;
}

.totals{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;
    .total-label {
        text-align: left;
    }
        
    .total-value {
        text-align: right;
    }
}


.action-link {
    padding: 0 0 0 0;
    @include breakpoint(xs){
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-border;
    }
    @include breakpoint(sm){
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-border;
    }
    @include breakpoint(md){
        text-align: left;
    }
    @include breakpoint(md){
        text-align: left;
    }
}

.action-button {
    margin-bottom: 20px;
    padding-bottom: 10px;
    @include breakpoint(xs){
        text-align: center;
    }
    @include breakpoint(sm){
        text-align: center;
    }
    @include breakpoint(md){
        text-align: right;
    }
    @include breakpoint(md){
        text-align: right;
    }
}
