
@import '../../../global';

.navbar-header {
    width: 100%;
}

.mobile-card {
    padding-top: 15px;
}
.cart {
    marging-top: 100px;
    @include breakpoint(mobile){
        .desktop-only{
            display:none;
        }
        .mobile-only{
            display:inline-block;
        }
    }

    @include breakpoint(desktop){
        .mobile-only{
            display:none;
        }
        .desktop-only{
            display:inline-block;
        }
    }

}

