@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
    background-size: auto;
}
@mixin breakpoint($class) {
    @if $class == xs {
      @media (max-width: 767px) { @content; }
    }
   
    @else if $class == sm {
      @media (min-width: 768px) { @content; }
    }
   
    @else if $class == md {
      @media (min-width: 992px) { @content; }
    }
   
    @else if $class == lg {
      @media (min-width: 1200px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

$font-size-list: 1 2 3 5 10;
@each $dn in $font-size-list {
    .display-#{$dn}{
        font-size: #{$dn}em;
    }
}
